<mat-toolbar class="header position-fixed" color="primary">
	<app-header [animateLogo]="animateLogo" [isDark]="isDark" (onToogleTheme)="toogleTheme()"
		(onToogleMenu)="toogleMenu()" (onChangeLang)="changeLang($event)" (onContactMe)="contactMe()" [isBotDialogOpen]="isBotDialogOpen" class="w-100">
</app-header>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container" [class.light-theme]="!isDark">
	<mat-sidenav #sideNav>
		<div class="content p-2 side-nav-content">
			<div class="button-container d-flex">
				<button class="w-100" mat-raised-button color="primary" (click)="toogleTheme()">
					<mat-icon>{{isDark ? 'dark_mode' : 'light_mode'}}</mat-icon>
					Alterar Tema
				</button>
			</div>
			<div class="button-container d-flex mt-2">
				<button class="w-100" mat-raised-button color="primary" [matMenuTriggerFor]="langMenu" *ngIf="supportedLangs && supportedLangs.length > 1">
					<mat-icon>translate</mat-icon>
					Alterar idioma
				</button>
			</div>
			<mat-menu #langMenu="matMenu">
				@for (lang of supportedLangs; track $index) {
					<span (click)="changeLang(lang)" mat-menu-item>{{lang}}</span>
				}
			</mat-menu>
			<div class="button-container d-flex mt-2">
				<button [disabled]="isBotDialogOpen"class="w-100" mat-raised-button color="primary" (click)="contactMe()">
					<mat-icon>contact_mail</mat-icon>
					Contato
				</button>
			</div>
		</div>
	</mat-sidenav>
	<mat-sidenav-content #sideNavContent id="sidenav-content">
		<div class="content">
			<router-outlet></router-outlet>
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>
