$headerHeight: 64px;

.header {
	top: 0;
	z-index: 99;
	height: $headerHeight;
}

.content {
	margin-top: $headerHeight;
}

.button-container {
	height: 48px;
}

.side-nav-content {
	min-width: 250px;
}
