<div class="d-none d-md-flex align-items-center justify-content-between">
	<div class="d-flex align-items-center">
		<svg class="logo" width="1000" height="1000" viewBox="0 0 1000 1000" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path [class.logo-light-shield-animation]="animateLogo" d="M498 130L500 500V870L208 700L148 250L498 130Z" fill="#00FFFF"/>
			<path [class.logo-dark-shield-animation]="animateLogo" d="M498 130L848 250L788 700L500 870V500L498 130Z" fill="#00CACA"/>
			<path d="M460 320H500V375L440 540H500V595H425L390 680H325L460 320Z" fill="white"/>
			<path d="M500 320H565V625H675V680H500V320Z" fill="white"/>
		</svg>
		<span class="d-none d-md-block">{{"components.header.portfolio" | translate}}</span>
	</div>
	<div class="d-flex">
		<button class="me-2" mat-icon-button (click)="toogleTheme()">
			<mat-icon>{{isDark ? 'dark_mode' : 'light_mode'}}</mat-icon>
		</button>
		<button class="me-2" mat-flat-button [matMenuTriggerFor]="langMenu" *ngIf="supportedLangs && supportedLangs.length > 1">
			{{currentLang}}
		</button>
		<mat-menu #langMenu="matMenu">
			@for (lang of supportedLangs; track $index) {
				<span (click)="changeLang(lang)" mat-menu-item>{{lang}}</span>
			}
		</mat-menu>
		<button [disabled]="isBotDialogOpen" class="me-e" mat-raised-button (click)="contactMe()" color="accent">{{'components.header.contact' | translate}}</button>
	</div>
</div>
<div class="d-flex d-md-none">
	<button mat-flat-button class="menu" (click)="toogleMenu()">
		<mat-icon class="m-0">menu</mat-icon>
	</button>
</div>
