.menu {
	height: 48px;
}

.logo {
	height: 64px;
	width: 64px;
}

.logo-light-shield-animation {
	animation: logoLightShieldAnimation 0.5s ease-out forwards;
}

.logo-dark-shield-animation {
	animation: logoDarkShieldAnimation 0.5s ease-out forwards;
}

@keyframes logoLightShieldAnimation {
	25% {
		transform: translateX(-10%);
	}

	50% {
		transform: translateX(-10%);
	}

	75% {
		transform: translateX(0);
	}
}

@keyframes logoDarkShieldAnimation {
	25% {
		transform: translateX(0);
	}

	50% {
		transform: translateX(10%);
	}

	75% {
		transform: translateX(10%);
	}

	100% {
		transform: translateX(0);
	}
}
