<div class="container-fluid">
	<div class="bg-primary row flex-wrap-reverse">
		<div class="col-md-6 col-12">
			<div class="p-2 p-md-5 h-100 d-flex flex-column justify-content-center align-items-center">
				<span class="role-text">Fullstack Developer.</span>
				<span class="desc-text">Hi, my name is André Pinto and I'm a creative and independent developer from Brazil.</span>
			</div>
		</div>
		<div class="col-md-6 col-12">
			<div class="p-2 p-md-5">
				<div class="d-flex justify-content-center">
					<div class="position-relative">
						<img class="photo" src="/assets/andrelucax.jpg">
						<div class="additional-box"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
