<div class="container-fluid">
	<div class="bg-primary row flex-wrap-reverse">
		<div class="col-md-6 col-12">
			<div class="p-2 p-md-5 h-100 d-flex flex-column justify-content-center align-items-center">
				<span class="role-text">{{"components.home.fullstack-developer" | translate}}</span>
				<span class="desc-text">{{"components.home.hello-i-am" | translate}}</span>
			</div>
		</div>
		<div class="col-md-6 col-12">
			<div class="p-2 p-md-5">
				<div class="d-flex justify-content-center">
					<div class="position-relative">
						<div class="d-flex mb-2">
							<a class="d-flex me-2" href="https://github.com/andrelucax/" target="_blank"><mat-icon svgIcon="github" class="text-primary-contrast"></mat-icon></a>
							<a class="d-flex me-2" href="https://www.linkedin.com/in/andrelucax/" target="_blank"><mat-icon svgIcon="linkedin" class="text-primary-contrast"></mat-icon></a>
							<a class="d-flex" href="https://www.instagram.com/andre.lucax/" target="_blank"><mat-icon svgIcon="instagram" class="text-primary-contrast"></mat-icon></a>
						</div>
						<img class="photo" src="/assets/andrelucax.jpg">
						<div class="additional-box"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="mt-md-3 ms-md-3">
		<app-experience></app-experience>
	</div>
</div>
