<div class="container-fluid">
	<div class="bg-primary row flex-wrap-reverse">
		<div class="col-md-6 col-12">
			<div class="p-2 p-md-5 h-100 d-flex flex-column justify-content-center align-items-center">
				<span class="role-text">{{"components.home.fullstack-developer" | translate}}</span>
				<span class="desc-text">{{"components.home.hello-i-am" | translate}}</span>
			</div>
		</div>
		<div class="col-md-6 col-12">
			<div class="p-2 p-md-5">
				<div class="d-flex justify-content-center">
					<div class="position-relative">
						<div class="mb-2">
							<button mat-icon-button (click)="navigateToSocialMidia('github')" class="me-2">
								<mat-icon svgIcon="github"></mat-icon>
							</button>
							<button mat-icon-button (click)="navigateToSocialMidia('linkedin')" class="me-2">
								<mat-icon svgIcon="linkedin"></mat-icon>
							</button>
							<button mat-icon-button (click)="navigateToSocialMidia('instagram')" >
								<mat-icon svgIcon="instagram"></mat-icon>
							</button>
						</div>
						<img class="photo" src="/assets/andrelucax.jpg">
						<div class="additional-box"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
