$headerHeight: 70px;

.chat {
	width: 350px;
	height: 600px;

	@media (max-width: 576px) {
		height: 100vh;
		width: 100vw;
	}
}

.header {
	height: $headerHeight;
}

.content {
	background-color: rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(10px);
	height: calc(100% - $headerHeight);
	overflow-y: scroll;
	overflow-x: hidden;
}

.photo {
	height: 38px;
	width: 38px;
	border: 2px solid white;
	border-radius: 50%;
}

.question-message {
	margin-left: auto;
}

.message {
	margin-top: 10px;
	border-radius: 10px;
	width: fit-content;

}

.message+.message {
	margin-top: 10px;
}

.question-option {
	border: 2px solid;
	border-radius: 30px;
	cursor: pointer;
}

.close-button {
	margin-left: auto;
}
