<div class="chat">
	<mat-toolbar color="primary" class="p-0">
		<img class="photo m-3" src="/assets/img/andrelucax.jpg">
		<div class="d-flex flex-column justify-content-center">
			<h5 class="mb-0">{{'components.dialogs.andre-bot-dialog.andre-bot' | translate}}</h5>
			<span>{{'components.dialogs.andre-bot-dialog.ask-me-a-question' | translate}}</span>
		</div>
		<mat-button class="close-button me-3" mat-button-icon mat-dialog-close>
			<mat-icon>close</mat-icon>
		</mat-button>
	</mat-toolbar>
	<div #content class="content p-2 d-flex flex-column">
		@for (m of messages; track $index) {
			@if (m.answer) {
				<ng-container *ngTemplateOutlet="answerMessage; context: {
					message: m.message
				}"></ng-container>
			}
			@if (!m.answer) {
				<ng-container *ngTemplateOutlet="questionMessage; context: {
					message: m.message
				}"></ng-container>
			}
		}
		@if (!isAnswering) {
			@if (optionType == OptionsTypes.Default) {
				<ng-container *ngTemplateOutlet="questionOption; context: {
					type: QuestionOptionTypes.Hello
				}"></ng-container>
				<ng-container *ngTemplateOutlet="questionOption; context: {
					type: QuestionOptionTypes.Hire
				}"></ng-container>
			}
			@if (optionType == OptionsTypes.Contact) {
				<ng-container *ngTemplateOutlet="questionOption; context: {
					type: QuestionOptionTypes.Message
				}"></ng-container>
				<ng-container *ngTemplateOutlet="questionOption; context: {
					type: QuestionOptionTypes.Options
				}"></ng-container>
			}
		}
	</div>
</div>

<ng-template #answerMessage let-message="message">
	<span class="p-3 message bg-primary-light">{{message}}</span>
</ng-template>

<ng-template #questionMessage let-message="message">
	<span class="p-3 message question-message bg-primary-dark text-white">{{message}}</span>
</ng-template>

<ng-template #questionOption let-type="type">
	<span *ngIf="type == QuestionOptionTypes.Hello" [class]="questionOptionClasses" (click)="hello()">{{'components.dialogs.andre-bot-dialog.just-saying-hello' | translate}}</span>
	<span *ngIf="type == QuestionOptionTypes.Hire" [class]="questionOptionClasses" (click)="hire()">{{'components.dialogs.andre-bot-dialog.we-like-to-hire-you' | translate}}</span>
	<span *ngIf="type == QuestionOptionTypes.Message" [class]="questionOptionClasses" (click)="sendMessage()">{{'components.dialogs.andre-bot-dialog.send-a-message' | translate}}</span>
	<span *ngIf="type == QuestionOptionTypes.Options" [class]="questionOptionClasses" (click)="showOptions()">{{'components.dialogs.andre-bot-dialog.see-other-options' | translate}}</span>
</ng-template>
