$light-primary: (
	50 : #e0f7fa,
	100 : #b3ebf2,
	200 : #80deea,
	300 : #4dd0e1,
	400 : #26c6da,
	500 : #00bcd4,
	600 : #00b6cf,
	700 : #00adc9,
	800 : #00a5c3,
	900 : #0097b9,
	A100 : #e2f9ff,
	A200 : #afeeff,
	A400 : #7ce3ff,
	A700 : #63ddff,
	contrast: (50 : #000000,
		100 : #000000,
		200 : #000000,
		300 : #000000,
		400 : #000000,
		500 : #000000,
		600 : #000000,
		700 : #ffffff,
		800 : #ffffff,
		900 : #ffffff,
		A100 : #000000,
		A200 : #000000,
		A400 : #000000,
		A700 : #000000,
	)
);

$light-accent: (
	50 : #fce4ec,
	100 : #f8bcd0,
	200 : #f48fb1,
	300 : #f06292,
	400 : #ec407a,
	500 : #e91e63,
	600 : #e61a5b,
	700 : #e31651,
	800 : #df1247,
	900 : #d90a35,
	A100 : #ffffff,
	A200 : #ffd0d8,
	A400 : #ff9dae,
	A700 : #ff8498,
	contrast: (50 : #000000,
		100 : #000000,
		200 : #000000,
		300 : #000000,
		400 : #ffffff,
		500 : #ffffff,
		600 : #ffffff,
		700 : #ffffff,
		800 : #ffffff,
		900 : #ffffff,
		A100 : #000000,
		A200 : #000000,
		A400 : #000000,
		A700 : #000000,
	)
);

$light-warn: (
	50 : #fee8e7,
	100 : #fcc7c3,
	200 : #faa19b,
	300 : #f77b72,
	400 : #f65f54,
	500 : #f44336,
	600 : #f33d30,
	700 : #f13429,
	800 : #ef2c22,
	900 : #ec1e16,
	A100 : #ffffff,
	A200 : #ffe9e9,
	A400 : #ffb8b6,
	A700 : #ff9f9c,
	contrast: (50 : #000000,
		100 : #000000,
		200 : #000000,
		300 : #000000,
		400 : #000000,
		500 : #ffffff,
		600 : #ffffff,
		700 : #ffffff,
		800 : #ffffff,
		900 : #ffffff,
		A100 : #000000,
		A200 : #000000,
		A400 : #000000,
		A700 : #000000,
	)
);

$light-theme-primary: mat.define-palette($light-primary);
$light-theme-accent: mat.define-palette($light-accent);
$light-theme-warn: mat.define-palette($light-warn);

$light-theme: mat.define-light-theme((
	color: (
		primary: $light-theme-primary,
		accent: $light-theme-accent,
		warn: $light-theme-warn,
	),
	typography: mat.define-typography-config(),
	density: 0,
));
