@use 'sass:map';
@use '@angular/material' as mat;

@mixin theme-utilities($theme) {
	$color-config: mat.get-color-config($theme);

	$theme-palette: ( 'primary': mat.get-color-from-palette(map.get($color-config, 'primary'), 500), 'accent': mat.get-color-from-palette(map.get($color-config, 'accent'), 500), 'warn': mat.get-color-from-palette(map.get($color-config, 'warn'), 500) );

	@each $text, $color in $theme-palette {
		.text-#{""+$text} {
			color: $color !important;
		}
	}

	@each $bg, $color in $theme-palette {
		.bg-#{""+$bg} {
			background-color: $color !important;
		}
	}
}
