.eyes, .eyes .eye {
	position: absolute;
}

.left-eye {
	left: -40px;
}

.right-eye {
	left: 40px;
}

.experience-card {
	@media (min-width: 992px) {
		cursor: pointer;
		border: 1px solid;
		border-radius: 5px;
		border-color: transparent;

		&:hover {
			border: 1px solid;
			border-radius: 5px;
			border-color: inherit;
			background-color: rgba(0, 0, 0, 0.2);

			.link-icon {
				animation: linkIconAnimation 0.1s ease-out forwards;
			}
		}
	}

	@media (max-width: 991px) {
		.experience-link {
			cursor: pointer;

			&:hover {
				border: 1px solid;
				border-radius: 5px;
				border-color: inherit;
				background-color: rgba(0, 0, 0, 0.2);

				.link-icon {
					animation: linkIconAnimation 0.1s ease-out forwards;
				}
			}
		}
	}

	.experience-period {
		white-space: nowrap;
	}

	@media (max-width: 500px) {
		flex-wrap: wrap;
	}
}

.link-icon {
	transform: translate3D(-2.5px, 2.5px, 0);
}


@keyframes linkIconAnimation {
	100% {
		transform: translate3D(2.5px, -2.5px, 0);
	}
}

.view-full-resume {
	width: fit-content;
}
