.eyes, .eyes .eye {
	position: absolute;
}

.sketch-container {
	display: grid;
	place-items: center;
	position: relative;
}

.left-eye {
	left: -40px;
}

.right-eye {
	left: 40px;
}

.experience-period {
	white-space: nowrap;
}

.experience-card {
	cursor: pointer;
	border: 1px solid;
	border-radius: 5px;
	border-color: transparent;

	@media (max-width: 500px) {
		flex-wrap: wrap;
	}
}

.experience-card:hover {
	border: 1px solid;
	border-radius: 5px;
	border-color: inherit;
	background-color: rgba(0, 0, 0, 0.2);

	.link-icon {
		animation: linkIconAnimation 0.1s ease-out forwards;
	}
}

.link-icon {
	transform: translate3D(-2.5px, 2.5px, 0);
}


@keyframes linkIconAnimation {
	100% {
		transform: translate3D(2.5px, -2.5px, 0);
	}
}
